footer.footer
    .footer__logo 
        img(src='http://127.0.0.1:5000/img/logo-green.png' alt='Natours logo')
    ul.footer__nav 
        li: a(href='#') About Us
        li: a(href='#') Download Apps
        li: a(href='#') Become A Guide
        li: a(href='#') Careers
        li: a(href='#') Contact 
    p.footer__copyright &copy; by Ryan Kirby. All rights reserved